    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300&display=swap');

    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: antiquewhite;
    }

    nav {
        background-color: rgb(71, 64, 64);
        color: white;
        height: 63px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-family: 'Roboto Serif', serif;
    }
    nav ul li {
        list-style-type: none;
    }

    .gameContainer {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        height: 30vw;
    }

    .gameInfo {
    
        font-family: 'Roboto Serif', serif;
        padding-left: 8px;
    }

    .container {
        display: grid;
        grid-template-rows: repeat(3, 10vw);
        grid-template-columns: repeat(3, 10vw);
        font-family: 'Roboto Serif', serif;
    }

    .container div {
        border: 2px solid black;
        font-size: 7vw;
        cursor: pointer;
    }

    .boxItem {
        display: flex;
        justify-content: center;
    }

    .imgBox img {
        display: none;
    }

    .box:hover {
        background-color: pink;
    }


    /* Utility classes */

    .bt-0{
        border-top: none;
    }

    .bb-0{
        border-bottom: 0;
    }

    .bl-0{
        border-left: 0;
    }

    .br-0{
        border-right: 0;
    }













